
.container-admin {
    background-color: #CCCCCC;
    margin: 10px;
    min-height: 400px;
}

.nav-container > div:first-child, .container > div:first-child {
    width: 100%;
}

.admin-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.admin-input {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
}

textarea {
    min-height: 120px;
    padding-top: 9px;
    padding-bottom: 13px;
}

.admin-btn {
    align-items: center;
    padding: 10px 0 10px 20px;
    width: 105%;
    height: 50px;
    background-color: #333333;
    border-radius: 25px;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    cursor: pointer;

}
