.news-articles {
    display: flex;
    flex-direction: column;
}

.news-articles > div {
    border-bottom: 2px solid darkgrey;
    padding: 10px;
}


.hideContent {
    width: 100%;
    overflow: hidden;
    line-height: 18px;
    height: 310px;
    display: inline-block;
    float: left;
    transition: all .4s ease;
}

.news-articles div > img{
    width: 50%;
    float: left;
    margin: 4px 10px 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.hideContent > h3 {
    margin-bottom: 10px;
}

.hideContent p {
    padding-left: 5%;
    transition: all .75s ease;
}

.show {
    display: inline-block;
    float: right;
}

.show a{
    color: darkgrey;
    font-family: "Arial Unicode MS", sans-serif;
}

.showContent{
    height: auto;
    transition: height .35s ease-in-out;
}

.hideContent p:hover {
    position: absolute;
    width: 45%;
    height: auto;
    transform: scale(1.3);
    background-color: white;
    text-shadow: 0 0 8px rgba(0,0,0,0.3);
}