.news-articles {
    display: flex;
    flex-direction: column;
}

.hideContent {
    width: 100%;
    overflow: hidden;
    line-height: 18px;
    height: 310px;
    display: inline-block;
    float: left;
}

.news-articles div > img{
    width: 50%;
    float: left;
    margin: 4px 10px 0 0;
    padding: 20px;
}

.hideContent > h3 {
    margin-bottom: 0;
}

.show {
    display: inline-block;
    float: right;
}

.show a{
    color: darkgrey;
    font-family: "Arial Unicode MS", sans-serif;
}

.showContent{
    height: auto;
}