.shop-main {
    display: flex;
    flex-wrap: wrap;
}

.shop-main img {
    width: 100px;
    display: block;
    margin: 40% auto;
}

.shop-main > div {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 50%;
    flex-direction: row;
    height: 300px;
}

.shop-main > div > div {
    flex: 1 1 50%;
    padding: 5px;
}

.info > div {
    display: flex;
    flex-direction: row;
}

.info > div > div:first-child {
    width: 70px;
}

.info > div > div:last-child {
    width: 70%;
    padding: 0 10px;
}

.price {
    color: red;
}

.btn {
    background-color: aqua;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

