html, body {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a {
    color: black;
    text-decoration: none;
    display:block;
    width:100%;
    height:100%;
}

img {
    width: 100%;
    height: auto;
}

.banner > div {
    margin: 5px;
}

.nav-container {
    padding: 0 10px;
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    height: 35px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.nav-container > div {
    width: 30%;
    background-color: black;
}

.nav-container > div:first-child {
    width: 70%;
}

.nav-container > div:first-child > div {
    width: 50%;
}

.nav > div a, .userinput > div a {
    color: white;
    height: 35px;
    padding: 5px 0;
}

.nav > div > a:hover{
    transition: all .5s ease;
    background-color: antiquewhite;
    height: 25px;
    color: black;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav > div {
    width: 30%;
}

.search input:first-child{
    width: 84%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.search input:last-child {
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.banner > div:first-child {
    margin-left: 50px;
    height: 50px;
    margin-right: 200px;
}

.userinput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userinput > div {
    width: 50%;
    font-size: 15px;
}


.userinput > div a {
    padding: 10px 0 0 0;
    background-color: white;
    color: black;
    border: none;
    height: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


.userinput > div > a:hover {
    height: 25px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}
.container {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    height: auto;
}

.container > div {
    padding: 5px;
    width: 30%;
    margin: 10px;
}

.container > div:first-child {
    width: 70%;
}

.main-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-articles img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.main-articles > div {
    position: relative;
    flex-grow: 1;
    width: 49%;
    margin: 1px;
}

.content {
    position: absolute;
    width: 80%;
    margin: 0 20px 20px 20px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .75s ease;
}

.main-articles > div:hover .content {
    visibility: visible;
    opacity: 1;
    margin-bottom: 50%;
}

.content > a {
    color: antiquewhite;
    text-align: center;
}

#adwert {
    width: 100%;
    height: 600px;
    margin-left: 0;"
}


.form {
    display: flex;
    flex-direction: column;
}

.form > div {
    width: 100%;
    text-align: end;
    padding: 5px;
    transition:0.5s;
}

#user {
    text-align: center;
}

.form > div > a {
    height: 400px;
    width: 100%;
}
.form > div  > input, .btn, .form  a{
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 55%;
    border-radius: 5px;
}

.form  a {
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-bottom: 10px;
    background-color: #ffffff;
}

fieldset {
    margin: 10px 0;
    padding: 20px;
    background-color: #EEEEEE;
}

.btn.login {
background-color: aqua;
}

.btn.register {
    background-color: darksalmon;
}

.btn {
    margin-bottom: 5px;
}

.form {
    text-align: center;
    margin-bottom: 10px;
}

.form > p , legend{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.form > a{
    background-color: #EEEEEE;
    font-size: larger;
}

footer {
    width: 98%;
    background-color: black;
    height: 150px;
    padding: 0;
    margin: 0 12px;
}

footer > div:first-child {
    height: 100px;
    background: url("../img/footer.jpg") no-repeat;
    display: flex;
    flex-direction: row;
}

footer > div:first-child > div {
    height: 150px;
    width: 50%;
}

footer > div:first-child > div:first-child {
    margin-left: 35%;
}

footer > div:first-child > div:last-child {
    padding-top: 10px;
}

footer p {
    font-size: 12px;
    color: #fff;
}

.social {
    display: flex;
    flex-direction: row;
    align-content:center

}

.social > div {
    width: 15%;
    min-width: 35px;
    padding-top: 35px;
}

.social > div:first-child {
    margin-left: 45px;
}

.social > div > a {
    width: 50%;
}

.social > div > a > img, .banner > div > a > img {
    width: 30px;
    height: 30px;
}

label {
    font-size: 13px;
}
